<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" data-id="{{this_id}}">{{title}}</h5>
        <a href="{{link}}" class="btn btn-primary">Go to Article</a>
        <a href="/article/delete/{{id}}" class="btn btn-primary">Delete Article</a>

        {{#if saved}}
            <a class="btn btn-primary" href="/remove/{{this._id}}">Remove From Saved</a>
        {{else}}
            <a class="btn btn-primary" data-id="{{this._id}}" href="/saved/{{this._id}}">Save Article</a></button>
        {{/if}}
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <div class="createNote">
                    <form action="/articles/{{_id}}" method="POST">
                    <div class="input-title">
                        <input placeholder="Note Title" id="noteTitle" type="text" name="title">
                    </div>
                    <div class="input-note">
                        <textarea placeholder="Comment" id="content-data" class="textarea" name="body"></textarea>
                    </div>
                        <button class="sbmt" type="submit">Save Note</button>

                    {{#if note}}
                        <br>
                        <br>
                        <a href='/articles/{{_id}}' class="viewNote">See Notes</a>
                    {{/if}}
                    </form>
               </div>
            </div>
        </div>
    </div>
</div>