<li>
    <p class="articleTitle" data-id='{{id}}'>{{title}}</p>
    <img src="{{img}}" />
    <a href="{{link}}">Go to Article</a>
    
    <button class="saveArt" data-id="{{id}}" data-newsave="{{saved}}">Save Article</button>
    <button class="delete" data-id="{{id}}">Delete Article</button>
    <button data-title="{{title}}" data-content="" class="note" data-id="{{id}}">Add Comment</button>
</li>